<div class="container mx-auto">
  <div class="flex flex-wrap">
    <div class="left w-full md:w-1/4">
      {{ content.left }}
    </div>
    <div class="left-center w-full md:w-1/4">
      {{ content.left_center }}
    </div>
    <div class="right-center w-full md:w-1/4">
      {{ content.right_center }}
    </div>
    <div class="right w-full md:w-1/4">
      {{ content.right }}
    </div>
  </div>
</div>
